<div class="col-md-6">
  <div class="container">
    <h1>Dice or Coin</h1>
  </div>
  <div id="rand_tab" class="container">
    <ul  class="nav nav-pills">
			<li>
        <a class="active" href="#dice" data-toggle="tab">Dice Roll</a>
			</li>
			<li><a href="#coin" data-toggle="tab">Coin Flip</a>
			</li>
    </ul>
    <div class="row">
      <div class="col-md-5 boxes">
			<div class="tab-content clearfix">
			  <div class="tab-pane active" id="dice">
          <form action="javascript:void(0);" method="POST">
              {% csrf_token %}
              <div class="form-group">
                  <label for="rolls">Rolls:</label>
                  {{ dice_form.rolls }}
              </div>
              <div class="form-group">
                  <label for="size">Size: </label>
                  {{ dice_form.size }}
              </div>
              <button id="dice_btn" type="submit" class="btn btn-primary" onclick="post_roll_data()">Submit</button>
          </form>
          {{my_int}}
				</div>
				<div class="tab-pane" id="coin">
          <form action="javascript:void(0);" method="POST">
              {% csrf_token %}
              <div class="form-group">
                  <label for="flips ">Flips:</label>
                  {{ coin_form.flips }}
              </div>
              <div class="form-group">
                <label for="thumb">Thumb?</label>
                  {{ coin_form.thumb }}
              </div>
              <button id="coin_btn" type="submit" class="btn btn-primary"  onclick="post_flip_data()">Submit</button>
          </form>
				</div>
			</div>
      </div>
      <div class="col-md-6 box">
        <div id="my_coin_flips">

        </div>
    </div>
  </div>

</div>
