<div class="col-8">
  <div class="container">
    <h1>Commander Zone</h1>
  </div>
  <div id="com_tab" class="container">
    <ul  class="nav nav-pills">
			<li>
        <a class="active" href="#com_dmg" data-toggle="tab">Commander Damage</a>
			</li>
			<li><a href="#com_plays" data-toggle="tab">Summon Counter</a>
			</li>
    </ul>
  			<div class="tab-content clearfix">
  			  <div class="tab-pane active" id="com_dmg">
            <div class="container">
              <div class="row" id="players">
                <div class="col" id="add_player">
                <p class="add_player" onclick="add_player()"> + </p>
                </div>
              </div>
            </div>
  				</div>
  				<div class="tab-pane" id="com_plays">
              <div class='col grey_div'> <button type='submit' class='btn btn-primary player_btn' onclick='add_dmg(100)'>+</button> <p class='player_dmg unselectable' id='player_100'> 0 </p> <button type='submit' class='btn btn-primary player_btn'  onclick='sub_dmg(100)'>-</button> </div>
  				</div>
    </div>
  </div>

</div>
